<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Feeds to use to restore dependent packages from -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="niis.local" value="D:\ARWNI2S\Narrative-Simulator\Artifacts" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
