<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Definimos las fuentes de paquetes -->
  <packageSources>
    <!-- Fuente de paquetes local -->
    <!--<add key="OrleansLocalPackages" value="../NI2S-ThirdParty/Orleans/Artifacts/Release" />-->
    <!-- Fuente de NuGet.org -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <!-- Definimos qué paquetes deben buscarse en cada fuente -->
  <packageSourceMapping>
    <!-- Los paquetes Microsoft.Orleans.* se obtienen de la fuente local -->
    <!--<packageSource key="OrleansLocalPackages">
      <package pattern="Microsoft.Orleans.*" />
    </packageSource>-->
    <!-- Todos los demás paquetes se obtienen de NuGet.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

</configuration>
