.config/*
Node_Data/Gmail/AuthStore/*
!Node_Data/Gmail/AuthStore/Index.htm
Node_Data/browscap.xml
Node_Data/additional.crawlers.xml
Node_Data/installedPlugins.json
Node_Data/plugins.json
Node_Data/dataSettings.json
Node_Data/nodesettings.json
Node_Data/TempUploads/*
!Node_Data/TempUploads/Index.htm
Node_Data/DataProtectionKeys/*
!Node_Data/DataProtectionKeys/Index.htm
engine/*
plugins/*
!plugins/Uploaded
plugins/Uploaded/*
!plugins/Uploaded/placeholder.txt
Content/.well-known/*
!Content/.well-known/Index.htm
Content/bundles/*
!Content/bundles/Index.htm
Content/db_backups/*.bak
!Content/db_backups/Index.htm
Content/images/thumbs/*
!Content/images/thumbs/placeholder.txt
Content/images/uploaded/*
!Content/images/uploaded/placeholder.txt
Content/files/exportimport/*
!Content/files/exportimport/Index.htm
